@import url("reset.css");

/* ============= BASE ===============*/
html {
	overflow: scroll;
	overflow-x: hidden;
	min-height: 100%;
}

body{
    min-height: 100vh;
    height: 100%;
    line-height: 1;
    font-size: 24px;
    background-color: #F2F2F2;
    color: #0f1610;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.container{
    max-width: 80%;
    margin: 0 auto;
}

/* ===========HEADER========== */
.header_question{
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 2%;
    opacity: 0.7;
    transition: .3s ease;
}

.header_question:hover{
    opacity: 1;
}

.regenlog_header, .question_header, .tests_header{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px 30px 40px;
    height: 8vh;
}

header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: auto;
    padding: 30px 0px 30px;
    background-color: #262626;
    color: #F2F2F2;
}

.user_cover{
    position: absolute;
    top: 11%;
    right: 3%;
    display: inline-block;
}

.user_name{
    position: relative;
    font-size: 21px;
    background-color: #000000;
    border: 2px solid #F2F2F2;
    padding: 10px 40px;
    z-index: 10;
}

.user_name a{
    color: #f2f2f2cb;
    transition: .4s cubic-bezier(0.51, 0.14, 0.12, 1.02);
}

.user_name:hover a{
    color: #f2f2f2;
}

.header_logout_btn{
    background-color: #000000;
    color: #f2f2f2cb;
    border: solid #F2F2F2;
    border-top: none;
    position: absolute;
    z-index: 9;
    transform: translateY(-100%);
    font-size: 20px;
    font-weight: 700;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    transition: .4s cubic-bezier(0.51, 0.14, 0.12, 1.02);
}

.header_logout_btn:hover{
    color: #f2f2f2;
}

.user_cover:hover .header_logout_btn{
    transform: translateY(0%);
}

.header_title_block{
    text-align: center;
    margin-bottom: 30px;
}

.header_title{
    font-size: 55px;
    font-weight: 700;
    font-family: 'Comfortaa';
}

.header_subtitle{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Comfortaa';
}

.header_subtitle:first-child{
    transform: translateX(-120px);
}
.header_subtitle:last-child{
    transform: translateX(120px);
}


nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    position: relative;
}

header nav ul li a{
    display: block;
    padding: 20px 70px;
    border-radius: 10px;
    color: #f2f2f2b6;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Comfortaa';

    transition: .3s ease-in-out;
}

header nav ul li:hover{
    color: #F2F2F2;
}

nav li ul{
    display: block;
    height: 0px;
    position: absolute;
    z-index: 20;
    overflow: hidden;
    background-color: #262626;
    min-width: 150px;

    transition: .3s ease-in-out;
}

header nav ul li:hover ul{
    height: 310px;
}

header nav ul .third_li:hover ul{
    height: 60px;
}

header nav ul .second_li:hover ul{
    height: 372px;
}

nav li ul li{
    width: auto;
}

nav li ul li a{
    border-radius: 0px;
    background-color: #262626;

    transition: .3s ease-in-out;
}

nav li ul li a:hover{
    background-color: #262626;
}

div, form {
	transition: 0.5s;
}

article {
	background-size: cover;
}


/* ========================MAIN======================== */

/* =======INFO CARDS======= */

main{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

main::after {
    content: '';
    background: url('../img/background.png');
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.info{
    position: absolute;
    top: 45%;
    left: 39%;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
}

.card_cover{
    position: absolute;
    z-index: 2;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cover_first{
    top: 7%;
    left: 1%;
}

.card_cover_second{
    right: 1%;
    top: 3%;
}

.card_cover_third{
    left: 3%;
    top: 55%;
}

.card_cover_fourth{
    right: 4%;
    top: 57%;
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 20px;
    transition: .5s;
    transition-delay: .3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card_cover_second .card{
    animation: card_open1 .8s .7s forwards ease-in-out;
}

.card_cover_first .card{
    animation: card_open1 .8s .7s forwards ease-in-out;
}

@keyframes card_open1 {
    from {
        width: 300px;
    }
  
    to {
        width: 600px;
    }
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:#0D0D0D;
    clip-path: circle(120px at center);
}

.card_cover_second .card .circle::before{
    animation: card_open2  .8s .7s forwards ease-in-out;
}

.card_cover_first .card .circle::before{
    animation: card_open2  .8s .7s forwards ease-in-out;
}

.card_cover_third .card .circle{
    --sq-animation: none;
}

.card_cover_third .card .circle::before{
    animation: var(--sq-animation);
}

.card_cover_fourth .card .circle{
    --sq-animation: none;
}

.card_cover_fourth .card .circle::before{
    animation: var(--sq-animation);
}

@keyframes card_open2 {
    from {
        clip-path: circle(120px at center);
    }
  
    to {
        clip-path: circle(400px at center);
    }
}

.content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 40px 20px 40px 40px;
    left: 20%;
    transition: .5s;
    visibility: hidden;
    color: #F2F2F2;
}

.card_cover_first .card .content{
    animation: card_open3 .4s 1.2s forwards ease-in-out;
}

@keyframes card_open3 {
    from {
        left: 20%;
        opacity: 0;
        visibility: hidden;
    }
  
    to {
        left: 0;
        opacity: 1;
        visibility: visible;
    }
}

.card_cover_second .card .content{
    position: relative;
    width: 50%;
    left: 20%;
    padding: 40px 20px 40px 40px;
    left: 20%;
    transition: .5s;
    visibility: hidden;
    color: #F2F2F2;
}

.card_cover_second .card .content{
    animation: card_open6 .4s 1.2s forwards ease-in-out;
}

@keyframes card_open6 {
    from {
        left: 20%;
        opacity: 0;
        visibility: hidden;
    }
  
    to {
        left: 45%;
        opacity: 1;
        visibility: visible;
    }
}


.content h2{
    font-size: 28px;
}

.content p{
    font-size: 18px;
}


.card .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.45);
}

.card_cover_first .card .logo{
    animation: card_open4 .4s 1.3s forwards ease-in-out;
}

@keyframes card_open4 {
    from {
        transform: translate(-50%, -50%) scale(0.45);
        left: 50%;
    }
  
    to {
        left: 85%;
        transform: translate(-50%, -50%) scale(0.7);
    }
}

.card_cover_second .card .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.45);
    animation: card_open5 .4s 1.3s forwards ease-in-out;
}

@keyframes card_open5 {
    from {
        transform: translate(-50%, -50%) scale(0.45);
        left: 50%;
    }
  
    to {
        left: 15%;
        transform: translate(-50%, -50%) scale(0.7);
    }
}

.card_cover_fourth .card .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.45);
    transition: .5s;
}

/* ==========FOOTER========== */

footer{
    height: 25vh;
    padding: 20px 0px;
    background-color: #0f1610;
    color: #F2F2F2;
}

.container_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #f2f2f2c7;
    transition: .2s;
}

footer p{
    margin: 20px 0px;
}

.social_networks{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer svg{
    width: 60px;
    height: 60px;
    opacity: 0.7;
    transition: .5s;
}

footer svg:hogver{
    opacity: 1;
}

footer a:hover{
    text-decoration: none;
    color: #f2f2f2;
}

.about_company h4{
    margin: 20px 0px;
}


/* ============ func.php ================ */	

.warning{
	color: #FF0000;
}

.success{
	color: lime;
}

.warning_block{
    width: 80%;
    padding: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    vertical-align: center;
    margin: 10px auto;
}

.warning_block label{
    color: white;
}

.success_block {
    width: 80%;
    padding: 5px;
    margin: 10px auto;
    background-color: limegreen;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

.success_block label{
    color: white;
}
/* =================== constructor	===============*/

.construct_main{
    min-height: 92vh;
    text-align: center;
}

.construct_btn{
    background-color: #F2F2F2;
    color: #0D0D0D;
    border: #0D0D0D 2px solid;
    padding: 10px 20px;
    margin: 10px 0px;
    transition: .4s ease;
}

.construct_btn:hover{
    background-color:#0D0D0D ;
    color: #F2F2F2;
}

.construct_ver_form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: #000000 2px solid;
    background-color: #F2F2F2;
    margin-top: 3%;
    padding: 30px 40px;
}

.construct_ver_form label, .construct_ver_form div{
    margin: 5px 0px;
}

.ver_btn{
    padding: 0;
    width: 30%;
    height: 40px;
    margin: 10px auto 40px auto;
}

.c_all_forms_block{
	width: 99%;
	border: black 2px solid;
	margin: 5px;
	padding: 5px;
	display: flex;
	justify-content: space-between;
}
.c_checkbox_block{
	display: flex;	
	margin: 1px;
}

.c_form_1{
	border: black 2px solid;
	width: 40%;
	margin: 5px;
	padding: 5px;
}
.c_form_2{
	border: black 2px solid;
	width: 15%;
	margin: 5px;
	padding: 5px;
}

.c_form_2 input, textarea{
	width: 90%;
	margin: 2px;
}

.c_form_3{
	border: black 2px solid;
	width: 20%;
	margin: 5px;
	padding: 5px;
}

.c_preview_all{
  width: 90%;
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
 
.c_preview{
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
}
 
.c_preview_info{
  border: 2px solid black;
  margin: 5px;
  padding: 5px; 
}
 
.c_preview_info p{
  margin-top: 7px;
  margin-bottom: 2px;
}
 
.c_preview.radio{
  width: 80%;
}
 
.c_preview_info.radio{
  width: 17%;
}
 
.c_preview.checkbox{
  width: 70%;
}
 
.c_preview_info.checkbox{
  width: 27%;
}
 
.c_preview.definite{
  width: 49%;
}
 
.c_preview_info.definite{
  width: 49%;
}
 
.c_preview.definite_mc{
  width: 80%;
}
 
.c_preview_info.definite_mc{
  width: 17%;
}

.c_preview.missing_words {
    width: 70%;
}
.c_preview_info.missing_words {
    width: 28%;
}

.c_error_array{
  width: 95%;
  border: 2px solid lime;
  margin: 5px;
  padding: 5px;
}

.c_all_forms_block h3, .c_all_forms_block h4{
    margin-top: 15px;
}

.c_all_forms_block input[type="text"], .c_all_forms_block input[type="number"], .c_all_forms_block textarea{
    border: 1px solid #0D0D0D;
    padding: 5px 7px;
    margin-bottom: 3px;
    font-size: 15px;
}

.c_all_forms_block input[type="submit"]{
    border: 2px solid #0D0D0D;
    padding: 5px 10px;
    margin: 0px 0px 20px;
    transition: .4s ease;
}

.last_submit_btn{
    margin: 10px 0px 30px 0px !important;
}

.c_all_forms_block input[type="submit"]:hover{
    background-color: #0D0D0D;
    color: #F2F2F2;
    border: 2px solid #2e8b16;
}

.c_form_3 form a{
    padding: 10px 20px;
    border: 2px solid #0D0D0D;
    color: #0D0D0D;
    transition: .4s ease;
}

.c_form_3 form a:hover{
    background-color: #0D0D0D;
    color: #F2F2F2;
    border: 2px solid #2e8b16;
}

.c_clear_all_btn{
    padding: 10px 20px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 2px solid #0D0D0D;
    color: #0D0D0D;
    transition: .4s ease;
}

.c_clear_all_btn:hover{
    background-color: #0D0D0D;
    color: #F2F2F2;
    border: 2px solid #2e8b16;
}

/* ======================REGENLOG==================== */

/* reg, log, back buttons and other btns*/

.regenlog_cover{
	position: absolute;
    z-index: 10;
	right: 3%;
	top: 15%;
}


.log_button, .reg_button, .back_button, .my_test_btn{
    letter-spacing: 0.5px;
    font-size: 21px;
    font-weight: 600;
    position: relative;
	color: #f2f2f2c7;
    transition: .3s ease;
}

.log_button{
	margin-right: 30px;
}

.log_button::before, .reg_button::before, .back_button::before{
	content: '';
	position: absolute;
	top: 140%;
	width: 0%;
	height: 6%;
	background-color: #F2F2F2;
	transition: .3s ease;
}

.log_button:hover, .reg_button:hover, .back_button:hover, .my_test_btn:hover{
	color: #f2f2f2;
}

.log_button:hover::before, .reg_button:hover::before, .back_button:hover::before{
	width: 100%;
}



.regenlog{
	height: 67vh;
	min-height: 67vh;
}

.login_form, .registration_form{
	position: relative;
    background-color: #F2F2F2;
    top: 17%;
	width: 500px;
	padding: 40px 0px;
	border: 4px solid #3F2140;
	border-radius: 15px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	font-size: 27px;
}

.login_form h1, .registration_form h1{
	font-size: 40px;
    font-weight: 800;
	margin-bottom: 40px;
}

.login_form input, .registration_form input , .registration_form select{
	margin: 10px 0px 40px 0px;
    padding: 4px 7px;
    width: 60%;
	border-radius: 4px;
	color: #262401;
	border: 2px solid #3F2140;
    font-size: 20px;
}

.login_form .button_login, .registration_form .button_reg, .test_buton, .user_feedback_button{
    position: relative;
    width: 40%;
    padding: 15px 0px;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
    border: 3px solid #0D0D0D;
    color: #1d1c1c;
    z-index: 0;
    overflow: hidden;
    transition: .6s ease;
}

.registration_form .button_reg{
    width: 70%;
    padding: 15px 0px;
    font-size: 0.7em;
    margin-top: 25px;
}

.login_form .button_login:hover, .registration_form .button_reg:hover, .user_feedback_button:hover{
    color: #F2F2F2;
}

.login_form .button_login::before, .registration_form .button_reg::before, .user_feedback_button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    border-radius: 0% 0% 50% 50%;
    background: #1d1c1c;
    z-index: -1;
    transition: .6s ease;
}

.login_form .button_login:hover::before, .registration_form .button_reg:hover::before, .user_feedback_button:hover::before{
    height: 190%;
}

.login_form img, .registration_form img{
	position: absolute;
	top: 0;
	left: 0;
	width: 130px;
	height: 130px;
}

.login_form .first_img{
	top: -25%;
	left: -45%;
	transform: rotateZ(-35deg);
}

.login_form .second_img{
	top: 20%;
	left: -60%;
	transform: rotateZ(-25deg);
}

.login_form .third_img{
	top: 65%;
	left: -40%;
	transform: rotateZ(-15deg);
}

.login_form .fourth_img{
	top: -22%;
	left: 110%;
	transform: rotateZ(30deg);
}

.login_form .fifth_img{
	top: 25%;
	left: 110%;
	transform: rotateZ(15deg);
}

.login_form .sixth_img{
	top: 70%;
	left: 115%;
	transform: rotateZ(25deg);
}




.registration_form{
	width: 900px;
	padding: 30px 50px;
    top: 3%;
}

.regform_cover{
	display: flex;
	justify-content: space-between;
}

.regform_cover .reg_item{
	width: 400px;
}

.registration_form h1{
	font-size: 45px;
	margin-bottom: 40px; 
}


.registration_form .first_img{
	top: 0%;
	left: -20%;
	transform: rotateZ(-30deg);
}

.registration_form .second_img{
	top: 30%;
	left: -23%;
	transform: rotateZ(-20deg);
}

.registration_form .third_img{
	top: 68%;
	left: -21%;
	transform: rotateZ(-15deg);
}

.registration_form .fourth_img{
	top: 1%;
	left: 105%;
	transform: rotateZ(20deg);
}

.registration_form .fifth_img{
	top: 35%;
	left: 106%;
	transform: rotateZ(10deg);
}

.registration_form .sixth_img{
	top: 70%;
	left: 103%;
	transform: rotateZ(5deg);
}


/* ============Question.html============= */
.question_main{
    text-align: center;
    min-height: 67vh;
}

.test_output_form{
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 50%;
	margin: 30px auto;
	background-color: #F2F2F2;
	border: 5px solid #0D0D0D;
	border-radius: 5px;
	padding: 50px 60px;
}

.test_output_item{
	margin-bottom: 40px;
}

.test_output_item p{
	margin-bottom: 15px;
}

.test_output_item input{
	margin-left: 20px;
}

.test_output_input_text{
	width: 250px;
	height: 30px;
}

.test_output_input_textarea{
	padding: 10px;
	width: 500px;
	height: 200px;
}

.test_output_item img{
	width: 350px;
	height: 200px;
	margin-bottom: 20px;
	border: 3px solid #000000;
}

.test_finish_button{
	margin: 70px auto 0px auto;
	width: 400px;
}

.test_finish_button::before{
	width: 101.6%;
	left: -1%;
}

/* Timer */
.timer{
    position: absolute;
    right: 3%;
    top: 3%;
    width: 7%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #0D0D0D;
    background-color: #F2F2F2;
}

.timer p{
    font-size: 30px;
}

/* Plotlt */

.js-plotly-plot{
    display: inline-block;
    margin-top: 5%;
}

.question_main .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.question_main .container a{
    margin-top: 3%;
}




/* ======================MY TESTS==================== */


.my_tests_main h1{
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0px 40px 0px;
}

.my_tests_main div{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F2F2F2;
    border: #0D0D0D 2px solid;
    margin-bottom: 30px;
    padding: 30px 20px;
}

.my_test_btn{
    margin-top: 20px;
    padding: 10px 20px;
    color: #0D0D0D;
    background-color: #F2F2F2;
    border: 2px solid #0D0D0D;
}

.my_test_btn:hover{
    background-color: #0D0D0D;
}





/* ===================REPORTS================ */

.reports_container h1{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.reports_container section{
    width: 70%;
     border: black 2px solid;
     background-color: white;
    padding: 10px;
    margin: 50px auto;
}

.pages{
    margin: 60px 0px 20px;
}

.reports_container section .pages{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reports_container section .pages .page_reports{
    margin: 0px 10px;
}

.reports_container section .pages .triangle-left{
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid #121526;
}

.reports_container section .pages .triangle-right{
    cursor: pointer;
    margin-bottom: auto;
    margin-top: auto;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #121526;
}

.reports_container section .pages a{
    color: #0D0D0D;
}

.reports_container section .report_item_name{
    color: #0D0D0D;
    font-size: 30px;
}

.reports_container section .report_item_date{
    font-size: 17px;
    font-style: italic;
    margin-bottom: 15px;
}

.reports_container section .report_item{
    margin-bottom: 40px;
}

.reports_container h3{
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: 600;
}

.user_feedback_rating_wrapper:before{
    content: "★★★★★";
    color: #c2a239;
    display: block;
}

.user_feedback_rating_wrapper{
    margin-left: 3%;
    position: relative;
    font-size: 50px;
    display: inline-block;
}

.user_feedback_rating{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
}

.user_feedback_rating_item{
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
}

.user_feedback_label{
    flex: 0 0 10%;
    height: 100%;
    cursor: pointer;
    color: #c2a750;
}

.user_feedback_label::before{
    content: "★";
    display: block;
    transition: color .3s ease 0s;
}

.user_feedback_rating_item:checked,
.user_feedback_rating_item:checked ~ .user_feedback_label{
    color: #f7c72c;
}

.user_feedback_label:hover,
.user_feedback_label:hover ~ .user_feedback_label,
.user_feedback_label:checked ~ .user_feedback_label:hover{
    color: #f7c72c;
}

.user_feedback_title{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    margin-top: 20px;
}

.user_feedback_rating_title{
    margin-top: 30px;
    font-size: 35px;
    margin-left: 3%;
}

.user_feedback_textarea{
    margin: 30px 0px 10px;
    margin-left: 5%;
    background-color: #c7c7c7;
    height: 250px;
    font-size: 23px;
    padding: 10px 20px;
    width: 90%;
}

.user_feedback_button_cover{
    text-align: end;
    margin-right: 3%;
}

.user_feedback_button{
    width: 20%;
    height: 60px;
    font-size: 20px;
    margin-bottom: 20px;
}