/* ============= BASE ===============*/

html {
	overflow: scroll;
	overflow-x: hidden;
}

body {
	background-color: #b1b4e4;
	margin: 0px;
}
	
div, form {
	transition: 0.5s;
}

p, a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

article {
	background-size: cover;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #FF0000;
}

.container {
	margin: auto;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.container * {
	margin: auto;
}
/* ============ func.php ================ */

.warning{
	color: #FF0000;
}

.reg_success{
	color: lime;
}

/* ============ ACCOUNT FOLDER ============= */

/* ============ regenlog.php ============== */

.regenlog{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.login_form, .registration_form{
	background-color: #28305e;
	color: #F2F2F2;
	border: black 1px solid;
	border-radius: 30px;
	font-family: 'Comfortaa', cursive;
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-top: 50px;
	width: 500px;
}

.login_form p, .registration_form p{
	color: #F2F2F2;
}

.login_form h1, .registration_form h1{
	margin: 15px auto;
}

.login_form input, .registration_form input{
	color: #D9D9D9;
	margin-bottom: 20px;
	padding: 5px 15px;
	border-radius: 5px;
	color: #262401;

	box-shadow: 2px 5px 7px rgb(97, 97, 97);
}

.button_login{
	margin-top: 10px;
	padding: 15px 30px;
	border-radius: 10px;
	cursor: pointer;
	font-size: 25px;
	background-color: #D9D9D9 !important;
	color: #262401 !important;

	transition: color .4s linear;
	transition: background-color .4s linear;
}

.button_login:hover{
	background-color: #262401 !important;
	color: #D9D9D9 !important;
}

/* ============ account.php ============= */

.profile_card {
	height: auto;
	width: 80%;
	background-color: white;
	margin: auto;
	padding: 20px;
	border-radius: 40px;
	border: black solid 2px;
}

.avatar {
	border: black solid 1px;
	border-radius: 100px;
	height: 200px;
	width: 200px;
}

.together {
	display: flex;
	width: 70%;
	padding: 0px;
}

.card_input {
	height: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

.exit_button {
	height: 50px;
	width: auto;
	display: flex;
	justify-content: space-between;
	padding: 10px;
	border-radius: 10px;
	background-color: #F0F0F0;
	border: black solid 1px;
	transition: 0.5s;
}

.exit_button:hover {
	background-color: #DFDFDF;
}

.exit_button * {
	margin-bottom: auto;
	margin-top: auto;
	font-size: 17px;
}