<div class="staff-block__competition-item">
  <p class="staff-block__competition-text">{{ name }}</p>
  <div class="staff-block__item-buttons">
    <!--<a class="staff-block__link-button staff-block__link-button--competitions-file" href="" download><img src="../img/file.svg" alt=""></a>-->
    <p>{{ date }}</p>
    {{ link }}
    <!--<button class="button-img staff-block__item-button staff-block__item-button--competition-edit"><img src="../img/edit.svg" alt=""></button>-->
    <button class="button-img staff-block__item-button"><img src="../img/delete.svg" alt=""></button>
  </div>
</div>