<footer>
	<!-- Contacts -->
	<div class="footer__contacts">
		<div class="footer__social-media">
			<p>Контакты:</p>
			<a href="https://t.me/Xcvbnmzd"><img src="../img/tg.svg" alt=""></a>
			<a href="https://vk.com/id497007918"><img src="../img/vk.svg" alt=""></a>
		</div>
		<div class="footer__email">
			<p>Email:</p>
			<a href="mailto:ivanbarbash06@gmail.com?subject=Вопрос по сайту">ivanbarbash06@gmail.com</a>
		</div>
	</div>
	<!-- About -->
	<div class="footer__about">
		<p>Все права защищены &#169;</p> 
		<p>Иван Барбашин</p>
	</div>
</footer>