<li class="staff-block__goals-item">
    <div class="staff-block__goals-item-cover">
        <div class="staff-block__goal-name">
            <p class="staff-block__goal-text">{{ name }}</p> <img src="{{ checkmark }}" alt="">
        </div>
        <div class="staff-block__goal-buttons">
            {{ done }}
            <!--<button class="button-img staff-block__item-button staff-block__item-button--goal-edit"><img src="../img/edit.svg" alt=""></button>-->
            {{ delete }}
        </div>
    </div>
</li>