<header>
    <!-- Logo -->
    <a href="../index.php" class="logo">
        <img src="../img/logo.svg" alt="">
        <p>Training</p>
    </a>
    <a href="workout.php">
        <img src="../img/workout_black.svg" alt="">
        <p>Тренировки</p>
    </a>
    <a href="">
        <img src="../img/progress_black.svg" alt="">
        <p>Прогресс</p>
    </a>
    <a href="">
        <img src="../img/exercises_black.svg" alt="">
        <p>Упражнения</p>
    </a>
    <a href="">
        <img src="../img/news_black.svg" alt="">
        <p>Новости</p>
    </a>
    <a href="">
        <img src="../img/profile_black.svg" alt="">
        <p>Профиль</p>
    </a>
    <a href="">
        <img class="other_img" src="../img/other_black.svg" alt="">
        <p>Другое</p>
    </a>
</header>