<header class="main_header">
  <a class="logo" href="../index.php"><p>24</p><p>Roman</p></a>
  <button><img src="../img/крест.svg" alt=""></button>
  <div>
    <a href="../user/my_tests.php">My tests</a>
    <a href="../user/theory.php">Theory</a>
    <a href="../user/my_marks.php?month=0">Marks</a>
    <a href="../reports/reports.php">Reports</a>
    <a href="../other.html">Other</a>
  </div>
</header>

<header class="burger_header">
  <a class="logo" href="../index.php"><p>24</p><p>Roman</p></a>
  <img src="../img/burger_menu.png" alt="">
</header>