<section class="exercise_item">
    <!-- Exercise info button -->
    <button class="info"><img src="../img/info.svg" alt=""></button>
    <!-- Info text -->
    <div class="info_block">
        <button class="info_close"><img src="../img/close.svg" alt=""></button>
        <p>{{ description }}</p>
    </div>
    <!-- Exercise muscle groups -->
    <div class="muscle_groups">{{ muscle }}</div>
    <!-- Exercise image -->
    <img class="exercise_img" src="{{ image }}" alt="">
    <!-- Decoration line -->
    <div class="line"></div>
    <!-- Exercise title -->
    <h1>{{ name }}</h1>
    <!-- Rating and difficult -->
    <div class="statistic">
        <div class="rating">
            <p>{{ rating }}</p>
            <img src="../img/Star.svg" alt="">
        </div>
        <div class="difficult">
            <p>{{ difficulty }}</p>
            <div></div>
        </div>
    </div>
    <!-- Count of repetitions -->
    <div class="caption">
        <p>{{ reps }} x {{ approaches }}</p>
    </div>
</section>