<article class="welcomeS">
  <h1>Добро пожаловать в конструктор тренировок!</h1>
  <h2>Здесь Вы сможете создать собственную программу физических тренировок.</h2>
  <h3>Инструкция по использованию</h3>
  <div>
    <p>1. Во вкладке "конструктор" Вы сможете настроить свою тренировку, а именно:</p>
    <ul>
      <li>убрать выбранное упражнение</li>
      <li>изменить количество повторений или время выполнения упражнения</li>
      <li>выбрать дни недели для выполнения тренировок</li>
    </ul>
    <p>2. Во вкладке "Моя программа" Вы сможете:</p>
    <ul>
      <li>посмотреть получающуюся программу</li>
      <li>перейти к изменению тренировки</li>
      <li>удалить тренировку</li>
      <li>задать длительность программы</li>
      <li>начать программу</li>
    </ul>
    <p>3. В остальных вкладках Вы сможете добавить в конструктор нужные Вам упражнения и задать им количество повторений или же длительность выполнения упражнения.</p>
    <p class="good_luck_title">Хороших тренировок, спортсмен!</p>
  </div>

</article>